h1.head1{
text-align:center;
color:red;
text-decoration:underline;
text-decoration-color:green;
text-decoration-style:wavy;
text-transform:uppercase;
text-shadow:3px 2px blue;
}
p.txt{
text-indent:70px;
text-align:justify;
letter-spacing:2px;
word-spacing;5px;
line-height:20px;
font-family:Harrington;
font-size:small;
font-weight:bold;
font-variant:small-caps;
}
a{
text-decoration:none;
}

p.txt1{
font-size:40px;
color:red;
}
h1.head2{
text-align:center;
color:red;
}