h1{
text-align:center;
color:red;
text-decoration:underline;
text-decoration-color:green;
text-decoration-style:wavy;
text-transform:uppercase;
text-shadow:3px 2px blue;
}
p{
text-indent:70px;
text-align:justify;
letter-spacing:2px;
word-spacing;5px;
line-height:20px;
font-family:Harrington;
font-size:small;
font-weight:bold;
font-variant:small-caps;
}
a{
text-decoration:none;
}
.text1{
background-color:blue;
color:white;
}
.textt{
vertical-align:+20px;
}