.maindiv{
width:100%;
height:650;
border:2px solid red;
}

.head{
width:100%;
height:100px;
background-color:blue;
}

.mainbody{
width:100%;
height:450px;
background-color:red;
}

.footer{
width:100%;
height:100px;
background-color:yellow;
}

.head1{
width:25%;
height:100px;
background-color:yellow;
float:left;
}

.head2{
width:35%;
height:30px;
background-color:yellow;
float:right;
margin-top:70px;
}

.mainbody1{
width:30%;
height:450px;
background-color:pink;
float:left;
}

.mainbody2{
width:70%;
height:250px;
background-color:green;
float:right;;
}

.mainbody3{
width:70%;
height:200px;
background-color:rgba(0,255,0,0.3);
float:right;;
}
.
